header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="/") ShopIt
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto

      a.btn.btn-outline-primary(href="/Homer") Home
      a.btn.btn-outline-primary(href="/Contact") Contact 
      a.btn.btn-outline-primary(href="/Features") Features

       