extends layout

block content
    #product-section.container
        h2.text-center= title
        .row
            .col-md-6.p-5
                img.image-responsive(src=`../${img}` alt=`${title}` width='100%')
            .col-md-6
                .row   
                    .col-md-12
                        h1= title
                .row
                    .col-md-12
                        p.description= desc
                .row
                    .col-md-3
                        span.sr-only Four out of Five Stars
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        span.glyphicon.glyphicon-star(aria-hidden='true')